<div class="welcome">
  <div class="row">
    <div class="span12">
      <h1>Team ToolTime</h1>
      <h2><small>our project for</small> cpe366</h2>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h2>Marcus Ortiz</h2>
      <h2>Jason Stewart</h2>
      <h2>Ben Voogd</h2>
      <h2>Alan Yang</h2>
    </div>
  </div>
</div>
