<div class="welcome">
  <div class="row">
    <div class="span12">
      <h1><a href="https://wiki.csc.calpoly.edu/366-Winter2012/wiki/TeamToolTime">Team ToolTime</a></h1>
      <h2><small>our project for</small> cpe366</h2>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h3>Marcus Ortiz</h3>
      <h3>Jason Stewart</h3>
      <h3>Ben Voogd</h3>
      <h3>Alan Yang</h3>
    </div>
  </div>
</div>
