<div class="content browse-comparisons">
  <div class="row banner">
    <div class="span6">
      <h1>Browse Comparisons <small>by species</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <form action="" class="form-horizontal" method="get">
        <fieldset>
          <%= select_tag :species, options_for_select(@species_opts, @selected_species), {:class => 'span2'} %>
          <button type="submit" class="btn">Go</button>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>state</th>
            <th>species</th>
          </tr>
        </thead>
        <tbody>
          <% @comparisons.each do |comparison| %>
            <tr>
              <td><%= link_to(comparison.id, comparison) %></td>
              <td><%= comparison.state %></td>
              <td><%= comparison.species %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
