<div class="content browse-comparisons">
  <div class="row banner">
    <div class="span6">
      <h1>Browse Comparisons <small>by species</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <form class="form-horizontal">
        <fieldset>
          <select class="span2" id="species-select">
            <option>cow</option>
            <option>cat</option>
            <option>dog</option>
          </select>
          <button type="submit" class="btn">Go</button>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>state</th>
            <th>species</th>
          </tr>
        </thead>
        <tbody>
          <% @comparisons.each do |comparison| %>
            <tr>
              <td><%= comparison.id %></td>
              <td><%= comparison.state %></td>
              <td><%= comparison.species %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
