<div class="content edit-transcription-factors">
  <div class="row banner">
    <div class="span12">
      <h1>Edit Transcription Factor</h1>
    </div>
  </div>
  <div class="row banner">
    <div class="span12">
      <%= form_for @factor do |f| %>
        <p>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </p>
        <p>
          <%= f.button :class => 'btn btn-primary' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
