<div class="content gene-search">
  <div class="row banner">
    <div class="span12">
      <h1>Gene Search</h1>      
    </div>    
  </div>
  <div class="row banner">    
    <div class="span12">
      <div align="right">
        <button type="submit" class="btn">Search</button>
      </div>
      <form action="" class="form-horizontal" method="get">
        <fieldset>
          <h4>Transcription Factors of Interest</h4></br>
          <div class="control-group">
            <label class="control-label" for="tfactors">Transcription Factors</label>
            <div class="controls">
              <input id="tfactors" class="typeahead" name="tfactors" type="text" data-source="<%= @tfnames %>" data-provide="typeahead" />
            </div>
          </div>
        </fieldset>

        <fieldset>
          <h4>L-Value Constraints</h4></br>
          <div class="control-group">
            <label class="control-label" for="lavalue">Minimum La Value</label>
            <div class="controls">
              <input id="lavalue" class="typeahead" name="lavalue" type="text"/>
            </div>
            
            <label class="control-label" for="la/value">Minimum La/ Value</label>
            <div class="controls">
                <input id="la/value" class="typeahead" name="la/value" type="text"/>
            </div>            
          
            <label class="control-label" for="lqvalue">Minimum Lq Value</label>
            <div class="controls">
              <input id="lqvalue" class="typeahead" name="lqvalue" type="text"/>
            </div>  
            
            <label class="control-label" for="ldvalue">Maximum Ld Value</label>
            <div class="controls">
              <input id="ldvalue" class="typeahead" name="ldvalue" type="text"/>
            </div>            
          </div>
        </fieldset>

        <fieldset>
          <h4>Scope of Search</h4></br>
          <div class="control-group">            
            <div class="controls">              
              <select>
                <option>Entire Database</option>
                <option>Single Specie</option>
                <option>Single Experiment</option>
                <option>Single Specie</option>
              </select>
              <select>
                <option>?</option>                
              </select>
            </div>            
          </div>
        </fieldset>
      </form>    
  </div>
</div>
