<div class="content gene-search">
  <div class="row banner">
    <div class="span12">
      <h1>Gene Search</h1>
    </div>
  </div>
  <div class="row banner">
    <div class="span12">
      <form action="" class="form-horizontal" method="get">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="tfactors">Transcription Factors</label>
            <div class="controls">
              <input id="tfactors" name="tfactors" type="text" />
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
