<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Your data is now being processed.</h1>
      <p>Please be patient, processing the data may take several minutes.</p>
    </div>
  </div>
</div>
