<div class="content data-upload">
  <div class="row banner">
    <div class="span6">
      <h1 class="processing-status">Your data is now being processed.</h1>
    </div>
  </div>
  <div class="row">
    <div class="span6 processing-alert">
      <div class="alert alert-info">
        <strong>Please be patient,</strong> processing the data may take several minutes.
      </div>
    </div>
  </div>
  <%= form_tag(:style => 'display: none;') do %>
    <%= hidden_field_tag "job_id", @job_id, { :id => "job-id" } %>
  <% end %>
</div>
<div class="processing-progress"></div>
