<div class="content popular-factors">
  <div class="row banner">
    <div class="span12">
      <h1>Popular Transcription Factors</h1>      
    </div>
  </div>
  <div class="row banner">
    <div class="span12">
      <form action="<%= popular_factors_search_path %>" class="form-horizontal" method="get">
        <fieldset>
          <div align="right">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
          <h4>Species of Interest</h4><br />
          <div class="control-group">
            <label class="control-label" for="species">Species</label>
            <div class="controls species">
              <input id="species" class="typeahead" name="species[]" type="text" data-source="<%= @species %>" data-provide="typeahead" />
              <a id="add-factor-btn" href="#">add another</a>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <h4>Comparisons of Interest</h4><br />
          <div class="control-group">
            <label class="control-label" for="comparisons">Comparisons</label>
            <div class="controls comparisons">
              <a id="comparisons" href="#select-comparisons" class="btn btn-primary disabled" data-toggle="modal">Select Comparisons</a>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <h4>Experiments of Interest</h4><br />
          <div class="control-group">
            <label class="control-label" for="experiments">Experiments</label>
            <div class="controls experiments">
              <a id="experiments" href="#select-experiments" class="btn btn-primary disabled" data-toggle="modal">Select Experiments</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div id="select-comparisons" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Select Comparisons</h3>
  </div>
  <div class="modal-body">
    
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">Ok</a>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
</div>
<div id="select-experiments" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Select Experiments</h3>
  </div>
  <div class="modal-body">
    
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">Ok</a>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
</div>
