/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_tree .
 *= require_self
*/
body {
  background: url("/assets/bg.png");
}

.navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
}

.navbar-inner {
  border-radius: 0px;
}

.navbar .nav i {
  margin-right: 5px;
}

.content .banner {
  padding-bottom: 15px;
}

.content .table {
  background: #fff;
}

.filter {
  padding-top: 10px;
  text-align: right;
}

.content h3 {
  font-weight: normal;
}
