// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome .row {
  padding-top: 75px;
  text-align: center;
}

.welcome h1 {
  font-size: 48px;
}
