<!DOCTYPE html>
<html>
<head>
  <title>Team ToolTime</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Team ToolTime</a>
      <ul class="nav">
        <li class="home"><a href="/">Home</a></li>
        <li><a href="/">Comparisons</a></li>
        <li><a href="/">Experiments</a></li>
        <li><a href="/">Genes</a></li>
        <li><a href="/">Regulatory Elements</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
